{
  "presets": [
    "@babel/preset-env",
    "minify"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "lodash",
    [
      "react-intl-auto",
      {
        "removePrefix": "src/",
        "filebase": false
      }
    ],
    "syntax-dynamic-import",
  ]
}
