doctype html
html(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Booking
    meta(name="msapplication-tap-highlight" content="no")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Capriola")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans")
    link(rel="stylesheet" href="./src/index.stylus")
  body
    #app
    noscript
      h1 Sorry
      p You need JS to use this app. (duh)
      
    #mainloader
      div.loading-bar
      div.loading-bar
      div.loading-bar
      div.loading-bar

    script(src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver")
    script(src="./src/index.js")
